---
import PageSection from '~/components/PageSection.astro';
import SocialMediaLink from '~/components/SocialMediaLink.astro';

interface Props extends astroHTML.JSX.HTMLAttributes {
	center?: boolean;
}

const { center } = Astro.props;
---

<PageSection class={Astro.props.class}>
	<h3 class:list={['mb-16 text-lg font-bold', center && 'text-center']}>
		Let's connect
	</h3>
	<div
		class:list={[
			'flex flex-col flex-wrap gap-16 sm:flex-row sm:text-sm',
			center && 'justify-center',
		]}
	>
		<SocialMediaLink href="https://x.com/rayrw_dev" title="X">
			<svg
				slot="icon"
				xmlns="http://www.w3.org/2000/svg"
				fill="currentColor"
				viewBox="0 0 32 32"
				class="h-24 w-24 sm:h-16 sm:w-16"
			>
				<path
					d="M18.234 14.162L26.977 4h-2.072l-7.591 8.824L11.25 4H4.258l9.169 13.343L4.258 28H6.33l8.016-9.318L20.75 28h6.993zm-2.837 3.299l-.93-1.329L7.078 5.56h3.182l5.964 8.532l.93 1.329l7.753 11.09h-3.182z"
				></path>
			</svg>

			@rayrw_dev
		</SocialMediaLink>

		<SocialMediaLink href="https://bsky.app/profile/rayrw.dev" title="Bluesky">
			<svg
				slot="icon"
				xmlns="http://www.w3.org/2000/svg"
				class="h-24 w-24 sm:h-16 sm:w-16"
				fill="currentColor"
				viewBox="0 0 24 24"
			>
				<path
					d="M12 10.8c-1.087-2.114-4.046-6.053-6.798-7.995C2.566.944 1.561 1.266.902 1.565C.139 1.908 0 3.08 0 3.768c0 .69.378 5.65.624 6.479c.815 2.736 3.713 3.66 6.383 3.364q.204-.03.415-.056q-.207.033-.415.056c-3.912.58-7.387 2.005-2.83 7.078c5.013 5.19 6.87-1.113 7.823-4.308c.953 3.195 2.05 9.271 7.733 4.308c4.267-4.308 1.172-6.498-2.74-7.078a9 9 0 0 1-.415-.056q.21.026.415.056c2.67.297 5.568-.628 6.383-3.364c.246-.828.624-5.79.624-6.478c0-.69-.139-1.861-.902-2.206c-.659-.298-1.664-.62-4.3 1.24C16.046 4.748 13.087 8.687 12 10.8"
				></path>
			</svg>

			@rayrw.dev
		</SocialMediaLink>

		<SocialMediaLink href="https://github.com/rayrw" title="GitHub">
			<svg
				slot="icon"
				xmlns="http://www.w3.org/2000/svg"
				class="h-24 w-24 sm:h-16 sm:w-16"
				fill="currentColor"
				viewBox="0 0 24 24"
			>
				<path
					d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
				></path>
			</svg>
			@rayrw
		</SocialMediaLink>
	</div>
</PageSection>
